@media (max-width:1200px) {
    
}
@media (max-width:991px) {
    .promo {
        padding: 21px 30px 93px 30px;
    }
    .Advantages {
        padding: 73px 20px 83px 20px;
        &__text {
            width: 240px;
        }
    }
    .consultation {
        padding: 100px 30px 92px 30px;
    }
    .title {
        &_left {
            font-size: 32px;
        }
    }
    .carousel {
        padding: 50px 0px;
        &__inner {
            img {
                width: 500px;
                height: 350px;
            }
        }
    }
    .catalog {
        padding: 0 50px 100px 50px;
        &__tab {
            width: 190px;
            height: 45px;
            line-height: 40px;
        }
        &__content {
            justify-content: space-around;
        }
    }
    .reviews {
        &__text {
            width: 490px;
        }
    }
}
@media (max-width:767px) {
    .header {
        &__official {
            display: none;
        }
    }
    .promo {
        &__header {
            font-size: 32px;
        }
        &__subheader {
            font-size: 20px;
        }
    }
    .Advantages {
        &__icons {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__icon {
            margin-bottom: 10px;
        }
        &__text {
            margin: 0 auto;
        }
    }
    .title {
        &_left {
            font-size: 23px;
        }
    }
    .carousel {
        &__inner {
            width: 550px;
            img {
                width: 350px;
                height: 300px;
            }
        }
    }
    .catalog {
        &__tab {
           font-size: 14px;
        }
    }
    .reviews {
        &__clients {
            flex-direction: column;
            text-align: center;
        }
        &__client {
            margin-right: 0;
        } 
        &__name {
            margin-top: 13px;
        }
    }
    .footer {
        &__info {
            width: 430px;
        }
        &__addr {
            font-size: 17px;
        }
        &__phone {
            font-size: 17px;
        }
        &__social {
            img {
                width: 49px;
                height: 47px;
            }
        }
    }
   
    
    
}
@media (max-width:575px) {
    .promo {
        padding: 21px 15px 93px 15px; 
    }
    .header {
        &__phone {
            font-size: 12px;
        }
        &__logo {
            width: 150px;
        }
    }
    .button {
        width: 110px;
        height: 22px;
        font-size: 9px;
        &__main {
            width: 250px;
            height: 40px;
            font-size: 13px;
        }
    }
    .promo {
        &__header {
            font-size: 22px;
        }
        &__subheader {
            font-size: 13px;
            margin-top: 1px;       
        }
        &__icons {
            width:300px;
        }
    }
    .title {
        &_left {
            font-size: 13px;
            line-height: 30px;
        }
    }
    .consultation {
        padding: 100px 15px 92px 15px;
        &__descr {
            font-size: 14px;
        }
        .feed-form {
            width: 100%;
        }
    }
    .overlay {
        .modal {
            width: 250px;
        .feed-form {
            width: 100%;
            input {
               height: 40px;
            }
        }
        .modal__close {
            right: -25px;
            font-size: 30px;
            line-height: 20px;
        }    
    }
    }
    .button {
        &_submit {
            width: 100%;
            height: 40px;
            font-size: 13px;
        }
    }
    .carousel {
        &__inner {
            width: 315px;
            img {
                width: 250px;
                height: 200px;
            }
        }
    }
    .catalog {
        h2 {
            font-size: 20px;
        }
        &__tabs {
            margin-top: 40px;
            flex-direction: column;
        }
        &__tab {
            margin-bottom: 15px;
        }
        &-item {
            &__list {
                padding-right: 10px;
            }
            &__subtitle {
                font-size: 13px;
            }
            &__descr {
                margin: 0 auto;
                margin-top: 10px;
                width: 180px;
                font-size: 12px;
            }
        }
    }
    .reviews {
        &__title {
            font-size: 20px;
        }
        &__text {
            width: 260px;
        }
    }
    .footer {
        &__info {
            width: 320px;
        }
    }
}
